{% extends "index.twig" %}

{% block contents %}
<div id="category-container">
    <div id="category-main">
        {{ model.description|raw }}

    {% if viewMode == 0 %}
        <div class="category-listview">
        {% for page in pages %}
            <div>
                <h3><a href="{{ page.getFriendlyUrl() }}">{{ page.name }}</a></h3>
                {{ page.getBlurb() }} <a href="{{ page.getFriendlyUrl() }}"><br /><i>Meer lezen…</i></a>
            </div>
        {% endfor %}
        </div>
    {% elseif viewMode == 1 %}
    <ul class="zonderbullets">
        {% for page in pages %}
            <li><h3><a href="{{ page.getFriendlyUrl() }}">{{ page.name }}</a></h3></li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="category-blockview">
            {% for page in pages %}
                <div class="category-block">
                    <a href="{{ page.getFriendlyUrl() }}">
                        <img src="{{ page.getImage() }}" alt=""/>
                    </a>
                    <h3><a href="{{ page.getFriendlyUrl() }}">{{ page.name }}</a></h3>
                    <a href="{{ page.getFriendlyUrl() }}">{{ page.getBlurb() }}</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {{ contents|raw }}
    </div>
    {% if tags %}
    <div id="category-tags">
        {% for tag in tags %}
            <a role="button" href="/category/tag/{{ tag|lower|url_encode }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}