<nav class="menu navbar navbar-expand-md {{ inverseClass }}">
    <a class="navbar-brand" href="/">{{ navbar|raw }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navigation omschakelen">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for menuitem in menuItems %}
                {% if menuitem.isCategoryDropdown %}
                    {{ menuitem.categoryDropdown|raw }}
                {% else %}
                    <li class="nav-item {% if menuitem.isCurrent %}active{% endif %}">
                        {% if menuitem.isImage %}
                            <a class="nav-link img-in-menuitem" href="{{ menuitem.link }}"><img src="{{ menuitem.name }}" alt="{{ menuitem.link }}"/></a>
                        {% else %}
                            <a class="nav-link" href="{{ menuitem.link }}">{{ menuitem.name }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if isLoggedIn %}
                {% if isAdmin %}
                    <li class="nav-item">
                        <a class="nav-link" title="Nieuwe statische pagina aanmaken" href="/editor/sub"><span
                                    class="glyphicon glyphicon-plus"></span></a>
                    </li>
                    {{ configMenu|raw }}
                {% endif %}
                {{ userMenu|raw }}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" title="Inloggen" href="/user/login"><span class="glyphicon glyphicon-lock"></span></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% if notifications %}
<div class="meldingencontainer">
    <div class="meldingen alert alert-info">
        <ul>
            {% for notification in notifications %}
                <li>{{ notification }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}