{% extends "EditorPageBase.twig" %}
{% import "widget.twig" as widget %}

{% block contentSpecificButtons %}
    <div class="form-group">
        <label for="descriptionWhenClosed">Beschijving indien gesloten:</label>
        <textarea class="form-control" id="descriptionWhenClosed" name="descriptionWhenClosed" rows="3">{{ model.descriptionWhenClosed }}</textarea>
    </div>

    {{ widget.editorCheckbox('openForRegistration', 'Open voor inschrijving', model.openForRegistration) }}

    <div class="form-group row">
        <label for="registrationCost" class="col-sm-2 col-form-label">Inschrijfgeld:</label>
        <div class="input-group col-sm-1">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="text" class="form-control" id="registrationCost" name="registrationCost" value="{{ registrationCost }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="maxRegistrations" class="col-sm-2 col-form-label">Maximaal aantal deelnemers:</label>
        <div class="col-sm-1">
            <input type="number" class="form-control" id="maxRegistrations" name="maxRegistrations" value="{{ model.maxRegistrations|default(300) }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="numSeats" class="col-sm-2 col-form-label">Aantal plaatsen voor familie/vrienden:</label>
        <div class="col-sm-1">
            <input type="number" class="form-control" id="numSeats" name="numSeats" value="{{ model.numSeats|default(300) }}">
        </div>
    </div>

{% endblock %}