{% extends "EditorPageBase.twig" %}
{% import "widget.twig" as widget %}

{% block contentSpecificButtons %}
    <div class="form-group">
        <label for="descriptionWhenClosed">Beschijving indien gesloten:</label>
        <textarea class="form-control" id="descriptionWhenClosed" name="descriptionWhenClosed" rows="3">{{ model.descriptionWhenClosed }}</textarea>
    </div>

    {{ widget.editorCheckbox('openForRegistration', 'Open voor inschrijving', model.openForRegistration) }}

    <div class="form-group row">
        <label for="registrationCost0" class="col-sm-2 col-form-label">Inschrijfgeld volwassenen:</label>
        <div class="input-group col-sm-1">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="text" class="form-control" id="registrationCost0" name="registrationCost0" value="{{ registrationCost0 }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="registrationCost1" class="col-sm-2 col-form-label">Inschrijfgeld studenten / &lt; 20:</label>
        <div class="input-group col-sm-1">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="text" class="form-control" id="registrationCost1" name="registrationCost1" value="{{ registrationCost1 }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="lunchCost" class="col-sm-2 col-form-label">Lunchkosten:</label>
        <div class="input-group col-sm-1">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="text" class="form-control" id="lunchCost" name="lunchCost" value="{{ lunchCost }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="maxRegistrations" class="col-sm-2 col-form-label">Maximaal aantal deelnemers:</label>
        <div class="col-sm-1">
            <input type="number" class="form-control" id="maxRegistrations" name="maxRegistrations" value="{{ model.maxRegistrations|default(300) }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="numSeats" class="col-sm-2 col-form-label">Aantal plaatsen voor familie/vrienden:</label>
        <div class="col-sm-1">
            <input type="number" class="form-control" id="numSeats" name="numSeats" value="{{ model.numSeats|default(300) }}">
        </div>
    </div>

{% endblock %}