{% extends "index.twig" %}
{% import "widget.twig" as widget %}

{% block contents %}
    {{ widget.toolbar('<a class="btn btn-outline-cyndaron" href="/pagemanager/event">&laquo; Terug naar overzicht evenementen</a>', '', '') }}

    <table class="overzichtInschrijvingen table table-striped">
        <thead>
            <tr class="rotate">
                <th class="rotate">
                    <div><span>Inschrijvingsnummer</span></div>
                </th>
                <th class="rotate">
                    <div><span>Persoonsgegevens</span></div>
                </th>
                <th class="rotate">
                    <div><span>Zanggegevens</span></div>
                </th>
                <th class="rotate">
                    <div><span>Adresgegevens</span></div>
                </th>
                <th class="rotate">
                    <div><span>Inschrijfdatum</span></div>
                </th>
                <th class="rotate">
                    <div><span>Opmerkingen</span></div>
                </th>
                <th class="rotate">
                    <div><span>Lunch?</span></div>
                </th>
                {% for ticketType in ticketTypes %}
                <th class="rotate">
                    <div><span><abbr title="Extra kaarten">EK:</abbr> {{ ticketType.name }}</span></div>
                </th>
                {% endfor %}
                <th class="rotate">
                    <div><span>Totaal</span></div>
                </th>
                <th class="rotate">
                    <div><span>Is betaald?</span></div>
                </th>
                <th style="min-width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for registration in registrations %}
            {% set orderId = registration.id %}
            <tr>
                <td>{{ orderId }}</td>
                <td>
                    {{ registration.initials }} {{ registration.lastName }}<br>
                    {% if (registration.registrationGroup == 1) %}Student / jongere{% else %}Volwassene{% endif %}
                    {% if (registration.birthYear) %}
                        <br>Geboortejaar: {{ registration.birthYear }}
                    {% endif %}
                    {% if (registration.bhv) %}
                        <br>Is arts of BHV'er
                    {% endif %}
                </td>
                <td>
                    {{ registration.vocalRange }}
                    {% if (registration.kleinkoor) %}
                        <br><b>Wil meezingen in kleinkoor</b><br>
                        {{ registration.kleinkoorExplanation }}
                    {% endif %}
                </td>
                <td>
                    <a href="mailto:{{ registration.email }}">{{ registration.email }}</a><br>
                    {{ registration.street }} {% if registration.houseNumber > 0 %}{{ registration.houseNumber }} {{ registration.houseNumberAddition }}{% endif %}<br>
                    {{ registration.postcode }} {{ registration.city }}
                </td>
                <td>
                    {{ registration.created|date('d-m-Y') }}
                </td>
                <td>
                    {{ registration.comments }}
                    {% if registration.numPosters > 0 %}<br>Wil <b>{{ registration.numPosters }}</b> raamposters{% endif %}
                </td>
                <td>{{ registration.lunch|boolToText }}</td>

                {% for ticketType in ticketTypes %}
                {% set ticketTypeId = ticketType.id %}
                    <td>
                        {% if (ticketTypesByOrder[orderId][ticketTypeId] > 0) %}
                            <b>{{ ticketTypesByOrder[orderId][ticketTypeId] }}</b>
                        {% else %}
                            &nbsp;
                        {% endif %}

                    </td>
                {% endfor %}
                {% set orderTicketTypes = ticketTypesByOrder[orderId] ?: [] %}
                <td>{{ registration.calculateTotal(orderTicketTypes)|formatEuro }}</td>
                <td>{{ registration.isPaid|boolToText }}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        {% if registration.isPaid == false %}
                            <button data-order-id="{{ orderId }}" data-csrf-token-set-is-paid="{{ getCSRFToken('event-order', 'setIsPaid') }}" title="Markeren als betaald" class="eom-order-set-paid btn btn-sm btn-success"><span class="glyphicon glyphicon-eur"></span></button>
                        {% endif %}
                        <button data-order-id="{{ orderId }}" data-csrf-token-delete="{{ getCSRFToken('event-order', 'delete') }}" title="Inschrijving verwijderen" class="eom-order-delete btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}