{% set htmlId = 'slider' . album.id %}

<div id="{{ htmlId }}Indicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for photo in photos %}
            <li data-target="#{{ htmlId }}Indicators" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for photo in photos %}
            {% set caption = photo.caption %}
            {% set captionText = caption ? caption.caption|trim : '' %}

            <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                <img class="d-block w-100" src="{{ photo.getFullpath() }}" alt="">
                {% if captionText %}
                    <div class="carousel-caption d-none d-md-block">
                        {{ captionText|raw }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#{{ htmlId }}Indicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Vorige</span>
    </a>
    <a class="carousel-control-next" href="#{{ htmlId }}Indicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Volgende</span>
    </a>
</div>